
#button{
    width: 100px;
    height: 100px;
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
    position: absolute;
}
#div{
    width: 1500px;
    height: 100vh;
}